@import "assets/scss/custom";

@media (max-width: 62rem) {
  .bottomBar {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 3.75rem;
    background-color: #fff;
    border-top: 0.0625rem solid #cdd4db;
    padding: 0rem;
  }

  .bottomBarButtons{
    height: 100%;
    width: 100%;
    margin-bottom: env(safe-area-inset-bottom);
  }
}

@media (min-width: 62rem) {
  .bottomBar {
    display: none;
  }
}
