@import "assets/scss/global";

.listRow {
  border: 0.0625rem solid $white;
  padding: 0.25rem 0.75rem;
  margin-right: 0rem;
  margin-left: 0rem;
  cursor: pointer;
  margin-top: 0.25rem;
  transition: transform 0.2s, box-shadow 0.2s, border-color 0.2s;
  display: flex;
  align-items: center;
}

.listRow:hover {
  border-radius: 0.5rem;
  transform: scale(1.01);
  box-shadow: 0 0.125rem 0.625rem 0 rgba(0, 0, 0, 0.1);
  border-color: $gray-300;
}

.fileTag:last-child {
  margin-right: 0rem;
}
