@import "assets/scss/custom";
@media (max-width: 62rem) {
  .btn:active,
  .btn:global(.active) {
    border: 0;
    background-color: var(--primary-button-active) !important;
    color: var(--primary-button-text-active) !important;
  }

  .btn {
    border: 0;
    box-shadow: none !important;
    outline: 0 !important;
    border-radius: 0rem;
    width: 25%;
    margin-left: 0;
    color: var(--primary-button-text);
    background-color: var(--background-color);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .btn:focus {
    border: 0;
    box-shadow: 0 0 0 0rem;
  }

  .btn:hover {
    border: 0rem;
    background-color: var(--primary-button-hover);
    color: var(--primary-button-text);
  }
}
