@import "assets/scss/custom";

.tutorContainer {
  display: flex;
  padding: 0;
  margin-top: 1.25rem;
  align-items: center;
  width: 100%;
  background: $white;
  border: 1px solid $gray-200;
  padding: 0.75rem;
  border-radius: 0.5rem;
  transition: 0.2s transform, 0.2s box-shadow;
  -webkit-transition: 0.2s transform, 0.2s box-shadow;
  -moz-transition: 0.2s transform, 0.2s box-shadow;
}

.tutorContainer:hover {
  border-color: $gray-300;
  transform: scale(1.03);
  box-shadow: 0 0.125rem 0.625rem 0 rgba(0, 0, 0, 0.1);
}

.tutorImage {
  border-radius: 50%;
  margin-right: 0.75rem;
  height: 4rem;
  width: 4rem;
}

.tutorName,
.tutorEmail,
.tutorAddress {
  font-size: 1.125rem;
  margin-bottom: 0rem;
  line-height: 1.5rem !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
}

.tutorEmail {
	color: $gray-700;
  color: $blue-500;
	
}

.tutorAddress {
  color: $gray-600;
}
