@import "./custom";

.fileTag {
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 500;
  border-radius: 0.33rem;
  margin-right: 0.5rem;
}

.tagBlue {
  color: var(--lecture-text);
  background: var(--lecture-background);
}
  
.tagTeal {
  color: var(--deadline-text);
  background: var(--deadline-background);
}

// Section header with checkbox settings
.sectionHeaderContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 1.875rem;
  align-items: center;
}

.sectionHeader {
  font-weight: 500;
  font-size: 1.25rem;
}

.sectionHeaderButton {
  color: var(--tertiary-text-color);
  background-color: var(--background-color);

  border-width: 0px;
  border-radius: 0.5rem;

  margin-left: 1.25rem;
  justify-content: space-between;
  height: 2.25rem;
  font-size: 1.05rem;

  transition: 0.2s background-color;
  -webkit-transition: 0.2s background-color;
  -moz-transition: 0.2s background-color;
}

.buttonIcon {
  margin-top: 0.22rem;
}

.sectionHeaderButton:global(.active),
.sectionHeaderButton:active {
  background:var(--secondary-text-color) !important;
  font-weight: 500;
  text-align: left;
  border-width: 0rem;
  height: 2.25rem;
  line-height: 1.375rem;
}

.sectionHeaderButton:hover, .sectionHeaderButton:focus {
	color: var(--secondary-text-color) !important;
  background-color: var(--secondary-background-color) !important;
	box-shadow: none !important;
}

.centeredFlex {
  padding: 0;
  display: flex;
  align-items: center;
}