@import "./custom";

// Tags styling
$blue-tag-background: transparentize($blue-100, 0.5);
$teal-tag-background: transparentize($teal-100, 0.5);

.fileTag {
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 500;
  border-radius: 0.33rem;
  margin-right: 0.5rem;
}

.tagBlue {
  color: $blue-700;
  background: $blue-tag-background;
}
  
.tagTeal {
  color: $teal-700;
  background: $teal-tag-background;
}