@import "assets/scss/custom";
@media (max-width: 62rem) {
  .btn:active,
  .btn:global(.active) {
    border: 0;
    background-color: #000 !important;
    color: #fff;
  }

  .btn {
    border: 0;
    box-shadow: none !important;
    outline: 0 !important;
    border-radius: 0rem;
    width: 25%;
    margin-left: 0;
    color: #000;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .btn:focus {
    border: 0;
    box-shadow: 0 0 0 0rem;
  }

  .btn:hover {
    border: 0rem;
    background-color: #ced4da;
    color: #000;
  }

  .btn:active:hover,
  .btn:global(.active):hover {
    background-color: $gray-900 !important;
  }
}
