#wrapper {
	padding-left: 0;
	padding-right: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  z-index: 5050;
}

#sidenav-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  z-index: 500;
	display: block;
	visibility:hidden;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

@media (min-width: 62rem) {
  #wrapper {
		padding-left: 15.625rem;
    padding-right: 15.625rem;
  }

  #wrapper.toggledLeft {
    padding-left: 0;
	}
	
	#wrapper.toggledRight {
    padding-right: 0;
  }
}

@media (max-width: 62rem) {
	#wrapper.toggledRight #sidenav-overlay,
  #wrapper.toggledLeft #sidenav-overlay {
		visibility:visible;
		background-color: rgba(0, 0, 0, 0.3);
  }
}
