@import "assets/scss/custom";

.dashboardImage {
  border-radius: 8px;
  margin-right: 20px;
}

.userName {
  font-weight: 600;
  font-size: 24px; 
  color: $black;
  margin-bottom: 0rem;
  line-height: 32px;
}

.userEmail {
  font-size: 16px;
  color: $blue-500;
  margin-bottom: 0rem;
  line-height: 20px;
}

.userIdentifier {
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 14px;
  margin-top: 14px;
  line-height: 24px;
  display: flex;
  align-items: center;
}

.userYear {
  font-size: 17px;
  color: $gray-700;
  margin-bottom: 0rem;
  line-height: 22px;
}

.userDepartment {
  font-size: 17px;
  color: $gray-600;
  margin-bottom: 0rem;
  line-height: 22px;
}

.userCourse {
  font-size: 17px;
  color: $gray-800;
  margin-top: 10px;
  margin-bottom: 0rem;
  line-height: 22px;
}

.dot {
  height: 6px;
  width: 6px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 8px;
  margin-left: 8px;
  background-color: $gray-500;
}

.dashboardButton,
.dashboardButton:global(.a) {
  margin-bottom: 0.625rem;
  color: #000;
  background: #f6f8fa;
  font-size: 1.05rem;
  letter-spacing: 0;
  border-width: 0rem;
  line-height: 1.375rem;
  height: 2.25rem;
  border-radius: 0.5rem !important;
  text-align: left;
  transition: 0.2s background;
  -webkit-transition: 0.2s background;
  -moz-transition: 0.2s background;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.dashboardButton:global(.active),
.dashboardButton:active {
  color: #fff;
  background: #000 !important;
  font-weight: 500;
  text-align: left;
  border-width: 0rem;
  height: 2.25rem;
  line-height: 1.375rem;
}

.dashboardButton:hover {
  background: #e5e5e5;
  border-color: #fff;
  color: #000;
}

.tutorImage {
  border-radius: 50%;
  margin-right: 20px;
}

.tutorName, .tutorEmail, .tutorAddress {
  font-size: 18px;
  margin-bottom: 0px;
  line-height: 24px !important;
}

.tutorName {
  color: $blue-500;
}

.tutorEmail {
  color: $gray-700;
}

.tutorAddress {
  color: $gray-600;
}

.noticeContainer {
  background-color: $gray-100;
  border-radius: 8px;
  padding: 10px;
  transition: transform 0.2s, box-shadow 0.2s;
}

.noticeContainer:hover {
  transform: scale(1.03);
  box-shadow: 0 0.125rem 0.625rem 0 rgba(0, 0, 0, 0.1); 
}

.noticeHeading {
  font-size: 18px;
  color: $black;
  font-weight: 500;
  margin-bottom: 2px;
  line-height: 22px;
}

.noticeUser {
  font-size: 16px;
  color: $gray-700;
  line-height: 18px;
  margin-bottom: 10px;
}

.noticeTime {
  font-size: 16px;
  color: $gray-600;
  line-height: 18px;
  margin-bottom: 10px;
}

.noticeBody {
  font-size: 16px;
  color: $gray-800;
  margin-bottom: 0px;
}
