@import "assets/scss/custom";

.quickAccessRow {
  scrollbar-width: thin;
	scrollbar-color: $white $white;
	margin-top: 10px;
	overflow-y: visible;
	overflow-x: auto;
	// margin-left: 0; // leave space before card
}

.quickAccessRow::-webkit-scrollbar {
	width: 1rem;
  height: 0.5rem;
}
.quickAccessRow::-webkit-scrollbar-track {
  background: $white;
	margin-left: 15px; 
	margin-right: 15px; 
}
.quickAccessRow::-webkit-scrollbar-thumb {
  background-color: $white;
  border-radius: .5rem;
}

.quickAccessRow:hover {
	scrollbar-color: $gray-400 $white;
}

.quickAccessRow:hover::-webkit-scrollbar-thumb {
	background-color: $gray-400;
}
