@import "assets/scss/custom";

$button-background: transparentize($gray-200, 0.75);
$button-border: transparentize($gray-300, 1);

.searchBar {
  border-radius: 0.5rem;
  border-width: 1px;
  border-color: var(--input-bar);

  background-color: var(--input-bar);
  color: var(--primary-text-color);

  transition: 0.2s background-color;
  -webkit-transition: 0.2s background-color;
  -moz-transition: 0.2s back-ground-color;
}

.searchBar::placeholder {
  color: var(--input-bar-placeholder);
  opacity: 1;
}

.searchBar:focus + :global(.input-group-append) .searchBarIcon {
  box-shadow: none !important;
  border-left: none;
  border-color: var(--border-color-focus);
  background-color: var(--background-color);
}

.searchBar:focus {
  box-shadow: none !important;
  border-right: none;
  border-color: var(--border-color-focus);
  background-color: var(--input-bar-focus);
  color: var(--primary-text-color);
}

.searchBarIcon {
  border-radius: 0.5rem;
  border-top-right-radius: 0.5rem !important;
  border-bottom-right-radius: 0.5rem !important;
  background-color: var(--tertiary-button);
  border-color: var(--tertiary-button);
  color: var(--tertiary-button-text);
  transition: 0.2s background-color !important;
  -webkit-transition: 0.2s background-color !important;
  -moz-transition: 0.2s back-ground-color !important;
}

.searchBarIcon:global(.active),
.searchBarIcon:active,
.searchBarIcon:hover,
.searchBarIcon:focus {
  background: var(--tertiary-button-hover) !important;
  color: var(--tertiary-button-text-hover) !important;
  border-color: var(--tertiary-button-hover) !important;
  box-shadow: none !important;
}

.dropdownMenu {
  border-radius: 0.5rem;
  margin-top: 0.5rem;
  box-shadow: 0 0.125rem 0.625rem 0 var(--box-shadow-color);
  border: 1px solid var(--border-color);
  padding: 0.75rem;
  background-color: var(--background-color);
}

.dropdownHeader {
  font-weight: 500;
  font-size: 1rem;
  color: var(--primary-text-color);
  padding: 0px;
  margin-bottom: 0.75rem;
}

.dropdownHeader:not(:first-child) {
  margin-top: 1rem;
}

.dropdownItem {
  border-radius: 0.5rem;
  background: var(--primary-button);
  color: var(--primary-button-text);
  font-size: 1rem;
  text-align: center;
  transition: 0.2s background;
  -webkit-transition: 0.2s background;
  -moz-transition: 0.2s background;
}

.dropdownItem:not(:last-child) {
  margin-bottom: 0.5rem;
}

.dropdownItem:hover {
  background: var(--primary-button-hover);
  color: var(--primary-button-text);
}

.dropdownItem:active,
.dropdown:global(.active) {
  color: var(--primary-button-text-active);
  font-weight: 500;
  background: var(--primary-button-active);
}
