@import "assets/scss/custom";

$button-background: transparentize($gray-200, 0.75);
$button-border: transparentize($gray-300, 1);

.searchBar {
  border-radius: 0.5rem;
  background-color: $button-background;
  border-color: $button-background;
  transition: 0.2s background-color;
  -webkit-transition: 0.2s background-color;
  -moz-transition: 0.2s back-ground-color;
}

.searchBar::placeholder {
  color: #acb5bd;
  opacity: 1;
}

.searchBar:focus + :global(.input-group-append) .searchBarIcon {
  box-shadow: none !important;
  border-left: none;
  border-color: $gray-300;
  background-color: $white;
}

.searchBar:focus {
  box-shadow: none !important;
  border-right: none;
  border-color: $gray-300;
  background-color: $white;
}

.searchBarIcon {
  border-radius: 0.5rem;
  border-top-right-radius: 0.5rem !important;
  border-bottom-right-radius: 0.5rem !important;
  background-color: $gray-100;
  border-color: $gray-100;
  color: $gray-500;
  transition: 0.2s background-color !important;
  -webkit-transition: 0.2s background-color !important;
  -moz-transition: 0.2s back-ground-color !important;
}

.searchBarIcon:global(.active),
.searchBarIcon:active,
.searchBarIcon:hover,
.searchBarIcon:focus {
  background: $gray-200 !important;
  color: $gray-700 !important;
  border-color: $gray-200 !important;
  box-shadow: none !important;
}

.dropdownMenu {
  border-radius: 0.5rem;
  margin-top: 0.5rem;
  box-shadow: 0 0.125rem 0.625rem 0 rgba(0, 0, 0, 0.1);
  border: 0.0625rem solid $gray-300;
  padding: 0.75rem;
}

.dropdownHeader {
  font-weight: 500;
  font-size: 1rem;
  color: $black;
  padding: 0px;
  margin-bottom: 0.75rem;
}

.dropdownHeader:not(:first-child) {
  margin-top: 1rem;
}

.dropdownItem {
  border-radius: 0.5rem;
  background: $gray-100;
  font-size: 1rem;
  text-align: center;
  transition: 0.2s background;
  -webkit-transition: 0.2s background;
  -moz-transition: 0.2s background;
}

.dropdownItem:not(:last-child) {
  margin-bottom: 0.5rem;
}

.dropdownItem:hover {
  background: $gray-200;
}

.dropdownItem:active,
.dropdown:global(.active) {
  color: $white;
  font-weight: 500;
  background: $black;
}
