@import "assets/scss/custom";

.react-datepicker-wrapper,
.react-datepicker__input-container {
  display: block !important;
}

.react-datepicker__input-container input {
  border-color: hsl(0, 0%, 80%);
  border-radius: 4px;
  border-width: 1px;
  padding-left: 5px;
  width: 100%;
}

.inputBar {
  border-radius: 0.5rem;
  border-width: 1px;
  border-color: var(--input-bar);

  background-color: var(--input-bar);
  color: var(--primary-text-color);

  text-align: left;

  transition: 0.2s background-color;
  -webkit-transition: 0.2s background-color;
  -moz-transition: 0.2s back-ground-color;
}

.inputBar::placeholder {
  color: var(--input-bar-placeholder);
  opacity: 1;
}

.inputBar:focus {
  box-shadow: none !important;
  border-color: var(--border-color-focus);
  background-color: var(--backgound-color);
  color: var(--primary-text-color);
}

.inputBarHeading {
  color: var(--primary-text-color);
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 0.625rem;
}

.mutedText {
  font-size: 0.75rem;
  color: var(--tertiary-text-color);
  margin-top: 0.625rem;
}

.createableSelect > * {
  border-radius: 0.5rem !important;
  background-color: var(--primary-button) !important;
  border-color: var(--border-color) !important;
  color: var(--primary-text-color) !important;
}
