.groupMemberCard {
  display: flex;
  height: 8em;
  padding: 0;
  margin-top: 0.5rem;
  align-items: center;
  width: 100%;
  background: var(--background-color);
  border: 1px solid var(--border-color);
  padding: 0.75rem;
  border-radius: 0.5rem;
  transition: 0.2s transform, 0.2s box-shadow;
  -webkit-transition: 0.2s transform, 0.2s box-shadow;
  -moz-transition: 0.2s transform, 0.2s box-shadow;
  cursor: pointer;
}

.groupMemberCard:hover {
  border-color: var(--border-color-hover);
  transform: scale(1.03);
  box-shadow: 0 0.125rem 0.625rem 0 var(--box-shadow-color);
}

.profilePic {
  border-radius: 50%;
  margin-right: 0.75rem;
  height: 4rem;
  width: 4rem;
}

.memberName,
.memberRole,
.memberClass {
  font-size: 1rem;
  margin-bottom: 0rem;
  line-height: 1.5rem !important;
}

.memberRole {
  color: var(--secondary-text-color);
}

.memberName {
  color: var(--primary-text-color);
}

.memberEmail {
  color: var(--email-text);
}

.memberClass {
  color: var(--tertiary-text-color);
}

