@import "assets/scss/global";

*::before, *::after{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.groupMemberCard {
  display: flex;
  height: 7rem;
  padding: 0;
  margin-top: 0.5rem;
  align-items: center;
  width: 100%;
  position : relative;
  background: var(--background-color);
  border: 1px solid var(--border-color);
  padding: 0.75rem;
  border-radius: 0.5rem;
  transition: 0.2s transform, 0.2s box-shadow;
  -webkit-transition: 0.2s transform, 0.2s box-shadow;
  -moz-transition: 0.2s transform, 0.2s box-shadow;
  cursor: pointer;
  z-index: 3;
}

.groupMemberCard:hover {
  border-color: var(--border-color-hover);
  transform: scale(1.03);
  box-shadow: 0 0.125rem 0.625rem 0 var(--box-shadow-color);
}

.leaderCard::before{
  position: absolute;
  top:1.193rem;
  right:-0.48rem;
  content: '';
  background: var(--lecture-text);
  height: 1rem;
  width: 1rem;
  transform : rotate(45deg);
  z-index: 1;
}

.leaderCard::after{
  position: absolute;
  content: "leader";
  top: 0.3rem;
  right: -0.707rem;
  padding: 0.1rem;
  width: 4rem;
  background: var(--lecture-text);
  color: #fff;
  text-align: center;
  font-size: 0.8rem;
  font-family: 'Roboto', sans-serif;
  box-shadow: 4px 4px 15px rgba(26, 35, 126, 0.2);
  z-index: 2;
}

.profilePic {
  border-radius: 50%;
  margin-right: 0.75rem;
  height: 2.5rem;
  width: 2.5rem;
}

.memberInfoSection {
  overflow: hidden;
  width: 100%;
}

.memberName,
.memberRole,
.memberClass {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 1rem;
  margin-bottom: 0rem;
  line-height: 1.5rem !important;
}

.memberRole {
  color: var(--secondary-text-color);
  margin-right: 1rem;
}

.memberName {
  color: var(--primary-text-color);
  margin-right: auto;
}

.memberEmail {
  color: var(--email-text);
}

.memberClass {
  color: var(--tertiary-text-color);
  margin: auto;
}

.tag:last-child {
  margin-right: 0rem;
  right:0;
  bottom: 0;
}

.flexbox {
  display: flex;
}