@import "assets/scss/custom";
@import "assets/scss/global";

.fileCard {
  border-radius: 0.5rem;
  transition: transform 0.2s, box-shadow 0.2s;
  background-color: $white;
  height: 96%;
  cursor: pointer;
  border: 0.0625rem solid $gray-200;
}

.fileCard:hover {
  transform: scale(1.03);
  box-shadow: 0 0.125rem 0.625rem 0 rgba(0, 0, 0, 0.1);
  border-color: $gray-300;
}

.fileCard :global(.card-body) {
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
}

.fileCard :global(.card-footer) {
  border-radius: 0.5rem !important;
  background: $white;
  border-width: 0rem;
  padding: 0.5rem;
}

.fileCard :global(.card-title) {
  font-size: 1.125rem;
  font-weight: 400;
  white-space: normal;
  margin-bottom: 0rem;
  width: 90%;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
}

.fileCard :global(.card-img-top) {
  border-bottom: 0rem;
  border-top-left-radius: 0.4rem;
  border-top-right-radius: 0.4rem;
}

.fileRow {
  scrollbar-width: thin;
  scrollbar-color: $white $white;
  margin-top: 0.625rem;
}
