@import "assets/scss/custom";


.timelineEvent {
	background: var(--tutorial-background);
	
  margin: 0.5rem;
  border-radius: 0.5rem;
  padding: 0.5rem;
  display: flex;
  align-items: center;
}

.eventTitle {
  color: var(--tutorial-text);
  font-size: 1rem;
}
