@import "assets/scss/custom";


.timelineEvent {
	cursor: pointer;
  margin: 0.5rem;
  border-radius: 0.5rem;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.eventTitle {
  font-size: 1rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 90%;
}

.eventPrefix {
  font-weight: 500;
  font-size: 1rem;
}

.unassessedSubmission {
  background: var(--blue-background);
  border: 2px solid var(--blue-background);
}

.unassessedSubmission > * {
	color: var(--blue-text);
}

.individualAssessed {
	background: var(--teal-background);
}

.individualAssessed > * {
	color: var(--teal-text);
}

.groupAssessed {
	background: var(--pink-background);
}

.groupAssessed > * {
	color: var(--pink-text);
}

.unassessed {
	background: var(--cyan-background);
}

.unassessed > * {
	color: var(--cyan-text);
}

.writtenExam {
	background: var(--indigo-background);
}

.writtenExam > * {
	color: var(--indigo-text);
}

.icon {
  float: right;
}