@import "assets/scss/custom";


.timelineEvent {

	cursor: pointer;
  margin: 0.5rem;
  border-radius: 0.5rem;
  padding: 0.5rem;
  display: flex;
  align-items: center;
}

.eventTitle {
  font-size: 1rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.eventPrefix {
  font-weight: 500;
  font-size: 1rem;
}

.unassessedSubmission {
	background: var(--blue-background);
}

.unassessedSubmission .eventTitle, .unassessedSubmission .eventPrefix  {
	color: var(--blue-text);
}

.individualAssessed {
	background: var(--teal-background);
}

.individualAssessed .eventTitle, .individualAssessed .eventPrefix {
	color: var(--teal-text);
}

.groupAssessed {
	background: var(--pink-background);
}

.groupAssessed .eventTitle, .groupAssessed .eventPrefix {
	color: var(--pink-text);
}

.unassessed {
	background: var(--cyan-background);
}

.unassessed .eventTitle, .unassessed .eventPrefix {
	color: var(--cyan-text);
}

.writtenExam {
	background: var(--indigo-background);
}

.writtenExam .eventTitle, .writtenExam .eventPrefix {
	color: var(--indigo-text);
}