@import "assets/scss/custom";

$lecture-background: transparentize($blue-100, 0.5);
$labs-background: transparentize($pink-100, 0.5);
$deadline-background: transparentize($teal-100, 0.5);

.sideBarCard {
  margin-top: 0.3125rem;
  margin-bottom: 0.3125rem;
  color: #000;
  border-width: 0rem;
  width: 100%;
  border-radius: 0.5rem !important;
  text-align: left;
  transition: transform 0.2s;
}

.sideBarCard:hover {
  transform: scale(1.03);
}

.sideBarRedCard * {
  color: $pink-700;
}

.sideBarRedCard {
  background: $labs-background;
}

.sideBarBlueCard * {
  color: $blue-700;
}

.sideBarBlueCard {
  background: $lecture-background;
}

.sideBarGreenCard * {
  color: $teal-700;
}

.sideBarGreenCard {
  background: $deadline-background;
}

.sideBarCard :global(.card-body) {
  padding: 0.5rem !important;
}

.sideBarCard :global(.card-title) {
  font-size: 1.125rem;
  font-weight: 500;
}

.sideBarEmptyCard :global(.card-title) {
  margin-bottom: 0 !important;
}

.sideBarCard :global(.card-subtitle) {
  font-size: 1rem;
  font-weight: 500;
}

.sideBarCard :global(.card-text) {
  font-size: 1rem;
}

.sideBarCard:global(.active),
.claendarCard:active {
  color: #fff;
  background-color: #000 !important;
  font-weight: 500;
  text-align: left;
  border-width: 0rem;
}
