@import "assets/scss/custom";

.tabGroupButtonSvg {
  float: right;
  margin-top: 0.22rem;
}

@media (max-width: 62rem) {
  .tabGroupButtonGroup {
    margin-top: 1.25rem;
    margin-left: 1rem;
    margin-right: 1rem;
    position: relative;
    width: 13.625rem !important;
  }

  .tabGroupHeading {
    font-size: 1.5rem;
    color: var(--primary-text-color);
    text-align: left;
    margin-top: 1.875rem;
    margin-left: 1rem;
    margin-right: 1rem;
    position: relative;
    width: max-content;
    margin-bottom: 0rem;
  }
}

@media (min-width: 62rem) {
  .tabGroupButtonGroup {
    margin-top: 6.375rem;
    margin-left: 2rem;
    margin-right: 2rem;
    position: relative;
    margin-top: 1.25rem;
    width: 11.625rem !important;
  }

  .tabGroupHeading {
    font-size: 1.5rem;
    color: var(--primary-text-color);
    text-align: left;
    margin-top: 1.875rem;
    margin-left: 2rem;
    margin-right: 2rem;
    position: relative;
    width: max-content;
    margin-bottom: 0rem;
  }
}
