@import "assets/scss/custom";

.quickAccessRow {
  scrollbar-width: thin;
  scrollbar-color: var(--background-color) var(--background-color);
  margin-top: 0.625rem;
  overflow-y: visible;
  overflow-x: auto;
  margin-right: -0.625rem;
  margin-left: -0.625rem;
}

.quickAccessRow::-webkit-scrollbar {
  width: 1rem;
  height: 0.5rem;
}
.quickAccessRow::-webkit-scrollbar-track {
  background: var(--background-color);
  margin-left: 0.625rem;
  margin-right: 0.625rem;
}
.quickAccessRow::-webkit-scrollbar-thumb {
  background-color: var(--background-color);
  border-radius: 0.5rem;
}

.quickAccessRow:hover {
  scrollbar-color: var(--scrollbar) var(--background-color);
}

.quickAccessRow:hover::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar);
}
