@import "assets/scss/custom";

#leftbarWrapper {
  position: fixed;
  visibility: hidden;
  transform: translateX(-100%);
  display: block;
  top: 0;
  left: 0;
  width: 15.625rem;
  height: calc(100vh - 	3.8125rem);

  overflow-y: auto;
  overflow-x: hidden;

  -webkit-transition: visibility 0.5s ease-in-out, transform 0.5s ease-in-out;
  -moz-transition: visibility 0.5s ease-in-out, transform 0.5s ease-in-out;
  -o-transition: visibility 0.5s ease-in-out, transform 0.5s ease-in-out;
  transition: visibility 0.5s ease-in-out, transform 0.5s ease-in-out;
  
  z-index: 5000;
  margin-top: 3.8125rem;
  padding-bottom: 1.875rem;
  background: #fff;
  box-shadow: 0 0.125rem 0.625rem 0 rgba(0, 0, 0, 0.1);
}

#leftbarWrapper::-webkit-scrollbar {
  display: none;
}

#leftbarWrapper {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

:global(#wrapper.toggledLeft) #leftbarWrapper {
  visibility: visible;
  transform: translateX(0);
}

.leftbarStatus a {
	text-decoration: none !important;
	color: #000 !important;
}

@media (max-width: 62rem) {
  .leftbarStatus {
    margin-top: 1.875rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 0rem;
    font-size: 1rem;
    font-weight: 500;
    color: #000000;
    letter-spacing: 0;
    position: relative;
    width: max-content;
    text-transform: uppercase;
  }

  #leftbarWrapper {
    padding-bottom: 6.25rem;
  }
}

@media (min-width: 62rem) {
  .leftbarStatus {
    margin-top: 1.875rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 0rem;
    font-size: 1rem;
    font-weight: 500;
    color: #000000;
    letter-spacing: 0;
    position: relative;
    width: max-content;
  }
}
