@import "assets/scss/custom";

.moduleContainer {
  padding-top: 30px;
  margin-bottom: 72px;
}

.moduleSectionHeader {
  margin-top: 30px;
}

.moduleParagraph {
  margin-top: 15px;	
}

@media (max-width: 992px) {
}

@media (min-width: 992px) {
}
