@import "assets/scss/custom";

@media (max-width: 62rem) {
  .sideBarCardGroup {
    margin-top: 1.25rem;
    margin-left: 1rem;
    margin-right: 1rem;
    position: relative;
    width: 13.625rem !important;
  }

  .sideBarCardGroupHeading {
    font-size: 1.5rem;
    color: #000000;
    text-align: left;
    margin-top: 1.875rem;
    margin-left: 1rem;
    margin-right: 1rem;
    position: relative;
    width: max-content;
    margin-bottom: 0rem;
  }
}

@media (min-width: 62rem) {
  .sideBarCardGroup {
    margin-top: 1.25rem;
    margin-left: 2rem;
    margin-right: 2rem;
    position: relative;
    width: 11.625rem !important;
  }

  .sideBarCardGroupHeading {
    font-size: 1.5rem;
    color: #000000;
    text-align: left;
    margin-top: 1.875rem;
    margin-left: 2rem;
    margin-right: 2rem;
    position: relative;
    width: max-content;
    margin-bottom: 0rem;
  }
}
