@import "assets/scss/custom";

#rightbarWrapper {
  position: fixed;
  visibility: hidden;
  transform: translateX(100%);
  display: block;
  top: 0;
  right: 0;
  width: 250px;
  height: calc(100vh - 61px);

  overflow-y: auto;
  overflow-x: hidden;

  -webkit-transition: visibility 0.5s ease-in-out, transform 0.5s ease-in-out;
  -moz-transition: visibility 0.5s ease-in-out, transform 0.5s ease-in-out;
  -o-transition: visibility 0.5s ease-in-out, transform 0.5s ease-in-out;
  transition: visibility 0.5s ease-in-out, transform 0.5s ease-in-out;

  z-index: 5000;
  margin-top: 61px;
  padding-bottom: 1.875rem;
  background: #fff;
  box-shadow: 0 0.125rem 0.625rem 0 rgba(0, 0, 0, 0.1);
}

#rightbarWrapper::-webkit-scrollbar {
  display: none;
}

#rightbarWrapper {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

:global(#wrapper.toggledRight) #rightbarWrapper {
  visibility: visible;
  transform: translateX(0);
}

@media (max-width: 62rem) {
  .rightbarStatus {
    margin-top: 1.875rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 0rem;
    font-size: 1rem;
    font-weight: 500;
    color: #000000;
    letter-spacing: 0;
    position: relative;
    width: max-content;
    text-transform: uppercase;
  }

  #rightbarWrapper {
    padding-bottom: 6.25rem;
  }
}

@media (min-width: 62rem) {
  .rightbarStatus {
    margin-top: 1.875rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 0rem;
    font-size: 1rem;
    font-weight: 500;
    text-align: right;
    color: #000000;
    letter-spacing: 0;
    position: relative;
    width: max-content;
    text-transform: uppercase;
  }
}
