@import "assets/scss/custom";

#rightbarWrapper {
  position: fixed;
  right: 15.625rem;
  width: 0;
  margin-right: -15.625rem;
  height: calc(100vh - 3.75rem);
  padding-bottom: 1.875rem;
  overflow-y: auto;
	overflow-x: hidden;
	overscroll-behavior: contain;
  background: #fff;
  box-shadow: 0 0.125rem 0.625rem 0 rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  z-index: 5000;
}

#rightbarWrapper::-webkit-scrollbar {
  display: none;
}

#rightbarWrapper {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

:global(#wrapper.toggledRight) #rightbarWrapper {
  width: 15.625rem;
}

@media (max-width: 62rem) {
  .rightbarStatus {
    margin-top: 1.875rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 0rem;
    font-size: 1rem;
    font-weight: 500;
    color: #000000;
    letter-spacing: 0;
    position: relative;
    width: max-content;
    text-transform: uppercase;
  }

  #rightbarWrapper {
    padding-bottom: 6.25rem;
  }
}

@media (min-width: 62rem) {
  .rightbarStatus {
    margin-top: 1.875rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 0rem;
    font-size: 1rem;
    font-weight: 500;
    text-align: right;
    color: #000000;
    letter-spacing: 0;
    position: relative;
    width: max-content;
    text-transform: uppercase;
  }
}
