@import "assets/scss/custom";

@media (min-width: 992px) {
  .pageButton {
    background: $gray-100;
    border-radius: 8px !important;
    font-family: "IBM Plex Sans";
    font-size: 17px;
    color: $black !important;
    text-align: center;
    line-height: 22px;
    width: 120px;
    height: 36px;
    margin-right: 10px;
    margin-left: 10px;
  }

  .pageButton:hover {
    background: $gray-200;
    color: $black !important;
  }

  .pageButton:global(.active) {
    background: $black !important;
    font-weight: 500 !important;
    color: $white !important;
  }

  .pageButton:active:hover,
  .pageButton:global(.active):hover {
    background-color: $gray-900 !important;
  }
}
