@import "assets/scss/custom";

.quickAccessRow {
  scrollbar-width: thin;
  scrollbar-color: $white $white;
  margin-top: 0.625rem;
  overflow-y: visible;
  overflow-x: auto;
  margin-right: -0.625rem;
  margin-left: -0.625rem;
}

.quickAccessRow::-webkit-scrollbar {
  width: 1rem;
  height: 0.5rem;
}
.quickAccessRow::-webkit-scrollbar-track {
  background: $white;
  margin-left: 0.625rem;
  margin-right: 0.625rem;
}
.quickAccessRow::-webkit-scrollbar-thumb {
  background-color: $white;
  border-radius: 0.5rem;
}

.quickAccessRow:hover {
  scrollbar-color: $gray-400 $white;
}

.quickAccessRow:hover::-webkit-scrollbar-thumb {
  background-color: $gray-400;
}
