@import "assets/scss/custom";

.moduleSectionHeader {
  margin-top: 1.875rem;
  color: var(--primary-text-color);
}

.listContainer {
  padding: 1rem;
  padding-top: 0rem;
}

.listRow {
  height: 2.25rem;
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
  padding: 0.5rem;
  justify-content: space-between;
  border: 0.125rem solid transparent;
}

.eventTitle {
  font-size: 1rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 90%;
}

.eventPrefix {
  font-weight: 500;
  font-size: 1rem;
}

.icon {
  float: right;
}

.listRow:not(:last-of-type) {
  margin-bottom: 0.625rem;
}

.moduleParagraph {
  margin-top: 1rem;
}

.moduleDashboardText {
  color: var(--primary-text-color);
}

@media (max-width: 62rem) {
}

@media (min-width: 62rem) {
}
