@import "assets/scss/custom";

.folderCard {
  border-radius: 0.5rem;
  border-width: 0px;
  transition: transform 0.2s, box-shadow 0.2s;
  background-color: $gray-100;
  margin-top: 0.67rem;
}

.folderCard:hover {
  transform: scale(1.03);
  box-shadow: 0 0.125rem 0.625rem 0 rgba(0, 0, 0, 0.1);
}

.folderCard :global(.card-body) {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
