@import "assets/scss/custom";

.breadcrumb,
:global(.breadcrumb) {
  background: #fff !important;
  text-transform: uppercase;
  font-weight: 500;
  padding: 0rem;
}

.breadcrumbItem * {
  color: #000 !important;
  text-decoration: none !important;
}
