@import "assets/scss/custom";

.moduleContainer {
  padding-top: 1.875rem;
  margin-bottom: 4.5rem;
}

.moduleSectionHeader {
  margin-top: 1.875rem;
}

.moduleParagraph {
  margin-top: 1rem;	
}

@media (max-width: 62rem) {
}

@media (min-width: 62rem) {
}
