@import "assets/scss/custom";
@import "assets/scss/global";


.eventTitle {
  font-size: 1.25rem;
  font-weight: 500;
}

.eventTimeInfo {
  margin-top: 1.875rem;
  display: grid;
  grid-template-areas: "startHeading start" "endHeading end";
  width: 25%;
}

.startDate {
  grid-area: start;
  padding-left: 0.625rem;
}

.startDateHeading {
  grid-area: startHeading;
  font-weight: 500;
}

.icon {
  margin-left: 0.625rem;
}

.endDate {
  grid-area: end;
  padding-left: 0.625rem;
}

.endDateHeading {
  grid-area: endHeading;
  font-weight: 500;
}

.eventInfoElement {
  text-transform: capitalize;
  // font-weight: 500;
  border-radius: 0.5rem;
  background: var(--secondary-background-color);
  padding: 0.25rem 0.5rem;
  margin-left: 0.625rem;
}


.eventInfo {
  margin-top: 0.625rem;
  display: flex;
  align-items: center;
}

.sectionHeaderButton {
  color: var(--tertiary-text-color);
  background-color: var(--background-color);
}

.sectionHeaderButton:hover {
  color: var(--tertiary-text-color);
  background-color: var(--secondary-background-color);
}

.sectionHeader {
  text-transform: capitalize;
  color: var(--primary-text-color);
}

.sectionHeaderContainer {
  padding: 0.25rem 0rem;
	margin-top: 1.25rem;
  border-bottom: 1px solid var(--border-color);
  margin-bottom: 1rem;
}

.modalHeader {
  padding: 0.5rem 0.5rem;
  padding-left: 0.75rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-color);
  border-bottom: 1px solid var(--border-color);
  color: var(--primary-text-color);
  border-top-right-radius: 0.5rem !important;
  border-top-left-radius: 0.5rem !important;
}

.modalFooter {
  padding: 0.5rem 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-color);
  border-top: 1px solid var(--border-color);
  color: var(--primary-text-color);
  border-bottom-right-radius: 0.5rem !important;
  border-bottom-left-radius: 0.5rem !important;
}

.eventModal :global(.modal-content) {
  background-color: var(--background-color);
  border-radius: 0.5rem;
}

.modalBody {
  background-color: var(--background-color);
  color: var(--primary-text-color);
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

$button-background: transparentize($gray-200, 0.75);
$button-border: transparentize($gray-300, 1);

.eventModal {
  z-index: 10000;
}

.modalToggleButton {
  background-color: var(--primary-button);
  color: var(--primary-button-text);

  border-width: 0px;
  border-radius: 8px;

  margin-left: 20px;
  justify-content: space-between;
  height: 2.25rem;

  transition: 0.2s background-color;
  -webkit-transition: 0.2s background-color;
  -moz-transition: 0.2s background-color;
}

.modalToggleButton:active,
.modalToggleButton:global(.active) {
  background: var(--primary-button-active) !important;
  color: var(--primary-button-text-active) !important;
  font-weight: 500;
  text-align: left;
  border-width: 0rem;
  height: 2.25rem;
  line-height: 1.375rem;
}

.modalToggleButton:hover {
  background-color: var(--primary-button-hover);
  color: var(--primary-button-text);
  box-shadow: none !important;
}

.submitButton.focus,
.submitButton:focus {
  background: var(--primary-button);
  color: var(--primary-button-text);
  box-shadow: none;
}

.submitButton {
  color: var(--primary-button-text);
  background: var(--primary-button);
  font-weight: 500;
  letter-spacing: 0;
  border-width: 0rem;
  line-height: 1.375rem;
  height: 2.25rem;
  border-radius: 0.5rem !important;
  transition: 0.2s background;
  -webkit-transition: 0.2s background;
  -moz-transition: 0.2s background;
  text-align: center;
  margin: 0;
  margin-left: 80%;
  width: 20%;
}

.submitButton.active,
.submitButton:active {
  background: var(--primary-button-active) !important;
  color: var(--primary-button-text-active) !important;
  font-weight: 500;
  border-width: 0rem;
  height: 2.25rem;
  line-height: 1.375rem;
}

.submitButton:hover {
  background-color: var(--primary-button-hover);
  color: var(--primary-button-text);
  box-shadow: none !important;
}

.unassessed, .unassessedSubmission, .individualAssessed, .groupAssessed, .writtenExam {
  text-transform: capitalize;
  border-radius: 0.5rem;
  padding: 0.25rem 0.5rem;
}

.unassessedSubmission {
	background: var(--blue-background);
  color: var(--blue-text);
  border-color: var(--blue-background);
}  

.individualAssessed {
	background: var(--teal-background);
	color: var(--teal-text);
	border-color: var(--teal-background);
}

.groupAssessed {
	background: var(--pink-background);
	color: var(--pink-text);
	border-color: var(--pink-background);
}

.unassessed {
	background: var(--cyan-background);
	color: var(--cyan-text);
	border-color: var(--cyan-background);
}

.writtenExam {
	background: var(--indigo-background);
	color: var(--indigo-text);
	border-color: var(--indigo-background);
}