@import "assets/scss/custom";
@import "assets/scss/global";

.sectionHeader {
  font-size: 1.25rem;
  text-transform: capitalize;
}

.sectionHeaderContainer {
  padding: 0.25rem 0rem;
	margin-top: 1.25rem;
}
