@import "assets/scss/custom";
@import "assets/scss/global";

.sectionHeader {
  font-size: 1.25rem;
}

.sectionHeaderContainer {
  padding: 0.25rem;
	margin-top: 1.25rem;
  border-bottom: 1px solid $gray-300;
  margin-bottom: 1rem;
}
