@import "assets/scss/custom";

:global(.breadcrumb) {
  background: var(--background-color) !important;
  text-transform: uppercase;
  font-weight: 500;
  padding: 0rem;
  margin-bottom: 1.875rem;
}

.breadcrumbItem * {
  color: var(--primary-text-color) !important;
  text-decoration: none !important;
}
