@import "assets/scss/custom";
@import "assets/scss/global";

.dropzone {
  text-align: center;
  padding: 2rem;
  border: 0.125rem dashed var(--border-color);
  background-color: var(--background-color);
  color: var(--tertiary-text-color);
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.buttonUpload.focus,
.buttonUpload:focus {
  background: var(--inverted-button-hover);
  color: var(--inverted-button-text);
  box-shadow: none;
}

.buttonUpload {
  margin-bottom: 0.625rem;
  color: var(--inverted-button-text);
  background: var(--inverted-button);
  font-weight: 500;
  font-size: 1.05rem;
  letter-spacing: 0;
  border-width: 0rem;
  line-height: 1.375rem;
  height: 2.25rem;
  border-radius: 0.5rem !important;
  transition: 0.2s background;
  -webkit-transition: 0.2s background;
  -moz-transition: 0.2s background;
  text-align: center !important;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
}

.buttonUpload.active,
.buttonUpload:active {
  background: var(--inverted-button-active) !important;
  color: var(--primary-text-color) !important;
  font-weight: 500;
  border-width: 0rem;
  height: 2.25rem;
  line-height: 1.375rem;
}

.buttonUpload:hover {
  background-color: var(--inverted-button-hover);
  color: var(--inverted-button-text);
  box-shadow: none !important;
}

.buttonCancel {
}

.accept {
  border-color: $green !important;
}


.reject {
  border-color: $red !important;
}

.filesizeDisplay {
  color: $gray-600;
  padding-left: 1rem;
}

.clickable {
  cursor: pointer;
  background-color: var(--secondary-background-color);
}

.uploadModal {
  border-radius: 0.5rem;
}

.createModal :global(.modal-content) {
  background-color: var(--background-color);
  border-radius: 0.5rem;
}

.createModal :global(.modal-header) {
  padding: 0.5rem 0.5rem;
  padding-left: 0.75rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-color);
  border-bottom: 1px solid var(--border-color);
  color: var(--primary-text-color);
  border-top-right-radius: 0.5rem !important;
  border-top-left-radius: 0.5rem !important;
}

.createModal :global(.modal-footer) {
  padding: 0.5rem 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-color);
  border-top: 1px solid var(--border-color);
  color: var(--primary-text-color);
  border-bottom-right-radius: 0.5rem !important;
  border-bottom-left-radius: 0.5rem !important;
}

.sectionHeaderButton {
  color: var(--tertiary-text-color);
  background-color: var(--background-color);
  margin-right: 0rem !important;
}

.sectionHeaderButton:hover {
  color: var(--tertiary-text-color);
  background-color: var(--secondary-background-color);
}

.createModal :global(.modal-body) {
  background-color: var(--background-color);
  color: var(--primary-text-color);
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  padding: 0.75rem;
  padding-top: 0rem;
}

.collapse {
  background-color: var(--background-color);
}

.TextArea {
  margin-left: 5px;
  margin-right: 5px;
  width: 25%;
}

.SelectArea_layer3 {
  z-index: 5;
  margin-left: 10px;
  width: 60%;
}

.Switch {
  margin-left: 10px;
}

.SelectArea_visibility {
  z-index: 9;
  margin-left: 10px;
  width: 40%;
}

.SelectArea_layer2 {
  z-index: 7;
  margin-left: 10px;
  width: 50%;
}

.SelectArea_day {
  z-index: 9;
  margin-left: 10px;
  width: 60%;
}
.Row {
  padding: 5px;
}

.Col {
  display: flex;
  align-items: center;
}

//.normalRow {
//  display: flex;
//  align-items: center;
//  padding: 15px;
//  margin: auto;
//  margin-left: 20px;
//  margin-right: 20px;
//  margin-bottom: 10px;
//  background-color: lightgray;
//  border-radius: 20px;
//}
//
//.highlightRow {
//  display: flex;
//  align-items: center;
//  padding: 20px;
//  margin: auto;
//  margin-left: 20px;
//  margin-right: 20px;
//  background-color: lightgreen;
//  border-radius: 20px;
//}

.font {
  margin-left: 5px;
  margin-right: 5px;
}
