@import "assets/scss/custom";

.moduleSectionHeader {
  margin-top: 1.875rem;
}

.moduleParagraph {
  margin-top: 1rem;
}

.progress {
  background-color: $gray-100;
  margin-top: 1.25rem;
  border-radius: 0.5rem;
  height: 0.75rem;
}

:global(.progress-bar) {
  background-color: $teal-500;
  border-radius: 0.5rem;
}

.progressAccordion {
  border-radius: 0.5rem;
}

.weekCard {
  background: var(--background-color);
  border-width: 0rem;
  margin-bottom: 0.5rem;
  transition: 0.2s transform;
  border-radius: 0.5rem !important;
}

.weekCardHeader {
  background: var(--primary-button);
  color: var(--primary-text-color);

  transition: 0.2s background;
  -webkit-transition: 0.2s background;
  -moz-transition: 0.2s background;

  border-radius: 0.5rem !important;
  border-width: 0px;

  font-size: 1.125rem;

  margin-bottom: 0px !important;
  padding: 0.5rem 0.75rem;
}

.weekCardHeader:hover {
  background: var(--primary-button-hover);
}

.weekCardBody {
  border-radius: 0.5rem;
}

@media (max-width: 62rem) {
}

@media (min-width: 62rem) {
}
