.sectionHeader {
    text-transform: capitalize;
    color: var(--primary-text-color);
}

.sectionButton {
    background-color: var(--primary-button);
    color: var(--primary-button-text);

    border-width: 0rem;
    border-radius: 0.5rem;
    margin: 0;

    justify-content: space-between;
    height: 2.25rem;
    font-size: 1.05rem;

    transition: 0.2s background-color;
    -webkit-transition: 0.2s background-color;
    -moz-transition: 0.2s background-color;
}

.unsignedLabel {
    color: red;
}

.creatableSelect > * {
    border-radius: 0.5rem !important;
    background-color: var(--primary-button) !important;
    border-color: var(--border-color) !important;
    color: var(--primary-text-color) !important;
}